$red: #DA4453;
$red2: #c0392b;
$blue: #2ba6cb;
$blue2: #2285a2;
$blue3: #2980b9;
$dark-blue: #394264;
$green: #11a8ab;
$yellow: #fdc00f;
$grey: #f2f2f2;
$white: #fff;
$login_box_width: 320px;
$login_box_padding: 25px;
$logo_font: 'Merienda One', cursive;
$text_color: lighten(#14b0bf, 53);
/*$text_color: #444;*/

$icon-bg-1: #14b0bf;
$icon-bg-2: #2c5871;

$sce_topbar_height: 44px;

$white-background: rgba($icon-bg-2, 0.9);
$white-background-light: rgba(255, 255, 255, 0.2);
